#reply-div {
  background-color: #e5d9d5;
  width: 80%;
  margin-left: 17%;
}

#reply-div>p {
  color: black;
}

.reply {
  margin-top: 2%;
}

.info-reply-id {
  text-align: left;
  font-style: italic;
  font-size: 0.9rem;
}

.small-hr {
  margin: 6% 0 2% 17%;
  border-top: 1px solid #00a1c2;
  width: 80%;
}

@media only screen and (min-width: 1200px) {
  .info-reply-id {
    font-size: 0.8rem;
  }
}
