.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.modal-content {
  margin: auto;
  height: auto;
  width: 90%;
  min-width: 300px;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.8), 4px 4px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: white;
}

.modal-hidden {
  transform: scale(0);
  -webkit-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  transition: transform 200ms linear;
}

.modal-scale {
  transform: scale(1);
  -webkit-transition: transform 150ms linear;
  -ms-transition: transform 150ms linear;
  transition: transform 150ms linear;
}

#inputField {
  width: 90%;
  padding-right: 5px;
  text-indent: 1rem;
  height: 30px;
  font-size: 1rem;
}

#close-button {
  width: 10%;
  height: 30px;
  background-color: #901E1D;
  color: white;
  float: right;
  font-size: 1.5em;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  -ms-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}

#close-button:hover {
  background-color: white;
  color: #901E1D;
}

@media only screen and (min-width: 700px) {
  .modal-content {
    width: 65%;
  }
}

@media only screen and (min-width: 960px) {
  .modal-content {
    width: 45%;
    max-height: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .modal-content {
    width: 35%;
    max-height: 70%;
  }

  #inputField {
    font-size: 0.9rem;
  }
}
